/**
 * CSS for public-facing functionality.
 *
 * Includes a modified icon (plus sign added) from fontawesome (https://fontawesome.com/icons/thumbs-up?style=regular) under the licence https://fontawesome.com/license.
 *
 */

.emoji-reaction-wrapper {
	width: 100%;
	padding: 10px 15px 10px 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.emoji-reaction-wrapper.right {
	flex-direction: row-reverse;
}

/** buttons */
.emoji-reaction-wrapper button {
	cursor: pointer;
	background: transparent;
}

.emoji-reaction-wrapper button.emoji-reaction-button {
	border: 1px solid #e6e6e6;
	border-radius: .1875rem;
	line-height: 1;
	padding: 5px 8px 5px 9px;
	transition: 0.5s;
	min-width: 25px;
}

.emoji-reaction-wrapper button.emoji-reaction-button:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	background-color: #e6e6e6;
}

.emoji-reaction-wrapper button.emoji-reaction-button.voted {
	border-color: #aaa;
}

.emoji-reaction-wrapper button.emoji-reaction-button:before {
	content: attr(data-emoji);
	display: inline-block;
	font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols, "EmojiOne Mozilla" !important;
	font-size: 0.8125rem;
}

.item-container button.emoji-reaction-button:before {
	font-size: 1.0rem;
}

.emoji-reaction-wrapper button.emoji-reaction-button.show-count:after {
	content: attr(data-count);
	display: inline-block;
	margin-left: 0.5rem;
	font-size: 0.75rem;
	color: #777;
}

/** buttons in emoji-reactions-container  */
.emoji-reaction-wrapper .emoji-reactions-container button.emoji-reaction-button[data-count="0"] {
	display: none;
}

/** buttons in emoji-reaction-button-addnew-container  */
.emoji-reaction-wrapper .emoji-reaction-button-addnew-container .emoji-reaction-button-addnew {
	padding: 0 10px 0 10px;
	margin-top: 4px;
	color: inherit;
}

.emoji-reaction-wrapper[data-totalcount="0"] .emoji-reaction-button-addnew-container .emoji-reaction-button-addnew {
	padding: 5px 0px 4px 10px;
}

.emoji-reaction-wrapper .emoji-reaction-button-addnew-container.ui.dropdown>.menu {
	z-index: 9999 !important;
}

.emoji-reaction-wrapper .emoji-reaction-button-addnew-container .item-container {
	display: flex;
	gap: 3px;
	padding: 4px;
	/*flex-wrap: wrap; */
	/** problems in safari, needs another solution if more than 3 emojis */
	/*  max-width: 140px; */
}

.emoji-reaction-wrapper .emoji-reaction-button-addnew-container .item-container button {
	/* margin: 5px; */
}

.emoji-reaction-wrapper .emoji-reaction-button-addnew-container .item-container button.not-voted {
	border-color: transparent;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/** username list in popup */
.ui.popup.emoji-reaction-popup-container {
	padding: 0.3em 0.6em;
	white-space: nowrap;
}

.ui.popup.emoji-reaction-popup-container ul.emoji-reaction-usernames,
.ui.popup.emoji-reaction-popup-container p {
	font-size: 12px;
}

.ui.popup.emoji-reaction-popup-container ul.emoji-reaction-usernames {
	margin: 0;
	padding: 0;
	list-style: none;
}

.emoji-reaction-wrapper .emoji-reaction-button-addnew-container .emoji-reaction-button-addnew .icon-thumpup-plus {
	mask-image: url("thumbs-up.svg");
	-webkit-mask-image: url("thumbs-up.svg");
	width: 20px;
	height: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	background-color: currentColor;
}

.emoji-reaction-wrapper .emoji-reaction-button-addnew-container .emoji-reaction-button-addnew:hover .icon-thumpup-plus {}
